{% extends "base_page.html"%}

{% block content%}
<html>
    <head>
        <title>Music School</title>
    </head>
    <body>
        <h1>Music School</h1>
        <!-- Displays a message when successfully signed up -->
        {% for message in messages %}
            <p><b>{{ message }}</b></p>
        {% endfor %}
        <div class="mt-5">
            <a class="big-button" href="{% url 'login' %}">Log in</a>
            <a class="big-button" href="{% url 'register' %}">Sign up</a>
            <a class="big-button" href="{% url 'reset_password' %}">Forgot password?</a>
        </div>
    </body>
</html>
{% endblock%}
