{% extends "base_page.html"%}

{% block content%}
<html>
    <head>
        <title>MSMS</title>
    </head>
    <body>
        <h1>Log In</h1>
        <!-- Error message when trying to login with wrong details -->
        {% for message in messages %}
            <p><b>{{ message }}</b></p>
        {% endfor %}
        <form action="{% url 'login' %}" method="POST" novalidate>
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-primary" type="submit" value="Login">
        </form>    
</html>
{% endblock %}