{% extends "base_page.html"%}

{% block content%}
{% load static %}
<link rel="stylesheet" href="{% static 'lessons/styles.css' %}">

<h1 class="pb-3">Edit a lesson request</h1>
{% for message in messages %}
    <p><b>{{ message }}</b></p>
{% endfor %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Save" onclick="window.location.href='{% url 'save_lesson' object.id %}'">
    {% if user.is_admin or user.is_superuser %}
    <input class="btn btn-primary" type="button" value="Book" onclick="window.location.href='{% url 'book_lesson' object.id %}'">
    {% endif %}
    <input class="btn btn-danger" type="button" value="Cancel Lesson" onclick="window.location.href='{% url 'cancel_lesson' object.id %}'">
</form>
{% endblock %}