{% extends "base_page.html"%}

{% block content%}
{% load static %}
<link rel="stylesheet" href="{% static 'lessons/styles.css' %}">

<div class="mt-5 text-center">
    <a class="big-button" href="{% url 'request_lesson' %}">Request A Lesson</a>
    <a class="big-button mt-3" href="{% url 'view_lessons' %}">
        View
        {% if user.is_superuser %}All
        {% elif user.is_admin%}{{user.admin.school.name}}'s
        {% else %}Your
        {% endif %} Lessons
    </a>
</div>
{% endblock %}