{% extends "base_page.html"%}

{% block content%}
{% load static %}
<link rel="stylesheet" href="{% static 'lessons/styles.css' %}">

<h1 class="pb-3">
    {% if user.is_superuser %}All
    {% elif user.is_admin%}{{user.admin.school.name}}'s
    {% else %}Your
    {% endif %} Lessons
</h1>

{% for message in messages %}
    <p><b>{{ message }}</b></p>
{% endfor %}
{% if lesson_list.requested or lesson_list.booked or lesson_list.cancelled %}
    {% if lesson_list.booked %}
    <h2 class="mt-3">Booked lessons</h2>
    {% include "table_view.html" with list_of_lessons=lesson_list.booked %}
    {% endif %}
    
    {% if lesson_list.requested %}
    <h2 class="mt-3">Requested lessons</h2>
    {% include "table_view.html" with list_of_lessons=lesson_list.requested %}
    {% endif %}

    {% if lesson_list.cancelled %}
    <h2 class="mt-3">Cancelled lessons</h2>
    {% include "table_view.html" with list_of_lessons=lesson_list.cancelled %}
    {% endif %}
{% else %}
<p>No lessons...</p>
{% endif %}
{% endblock %}