{% extends "base_page.html"%}

{% block content%}
{% load static %}
<link rel="stylesheet" href="{% static 'lessons/styles.css' %}">

<h1 class="pb-3">
    {% if user.is_superuser %}All
    {% elif user.is_admin%}{{user.admin.school.name}}'s
    {% else %}Your
    {% endif %} Lessons</h1>
{% if lesson_list %}
    <div style="overflow-x:auto">
        <table class="table-striped border mx-auto mt-4 table" style="width:max-content">
            <thead class="bg-secondary text-light">
                <tr>
                    <th>Date</th>
                    <th>Student</th>
                    <th>Teacher</th>
                    <th>No. lessons</th>
                    <th>Day</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
            {% for lesson in lesson_list %}
                <tr {% if not user.is_teacher %} onclick="window.location.href='{% url 'edit_lesson' lesson.id %}'" {% endif %}>
                    <td>{{lesson.first_lesson_date}}</td>
                    <td>{{lesson.student}}</td>
                    <td>{{lesson.teacher}}</td>
                    <td>{{lesson.num_lessons}}</td>
                    <td>{{lesson.day}}</td>
                    <td>{{lesson.get_state_display}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div

{% else %}
    <p>No lessons...</p>
{% endif %}
{% endblock %}